/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
/src/Makefile.in
/src/include/ultralog/config.h.in
/src/include/ultralog/config.h.in~
/test/Makefile.in
/doc/Makefile.in
/ar-lib
/compile
/doc/doxygen_sqlite3.db
/Makefile
/config.log
/config.status
/doc/Makefile
/doc/doxyfile.stamp
/doc/doxygen.cfg
/doc/html
/libtool
/src/.libs
/src/Makefile
/src/libultralog.la
/src/ultralog.pc
/src/.deps
/src/.libs/
/src/*.lo
/src/*.o
/test/Makefile
/test/*.o
/test/.deps
/test/.libs
/test/test_log
